

/* header  */
header{
    background: linear-gradient(rgba(0, 0, 0, 0) , rgba(0, 0, 0, 0.664)) , url(../images/MT15.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0;
    height: 100vh;
}
.banner-info{
    margin-top: 200px;
    
}
















